<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Production" connectionString="server=SQL;database=Automation;user=asctracdbo;password=dbo2006" />
    <add name="Test" connectionString="server=localhost;database=Automation;user=asctracdbo;password=dbo2006" />
  </connectionStrings>
  <appSettings>
    <add key="legacyServerTest" value="JREESELAPTOP" />
    <add key="sytelineServerTest" value="JREESELAPTOP" />
    <add key="amtechServerTest" value="JREESELAPTOP" />
    <add key="automationServerTest" value="JREESELAPTOP" />
    <add key="ediServerTest" value="JREESELAPTOP" />
    <add key="ediServer" value="Shaggy" />
    <add key="legacyServer" value="Shaggy" />
    <add key="sytelineServer" value="SQL" />
    <add key="amtechServer" value="Shaggy" />
    <add key="automationServer" value="SQL" />
    <add key="TestMode" value="0" /></appSettings>
</configuration>