<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    

    <!--    <add key="SytelineUser" value="autotest"/>-->
    <!--    <add key="SytelinePwd" value="automation"/>-->
    <add key="SytelineUser" value="sa"/>
    <add key="SytelinePwd" value="sapassword"/>
   
    <add key="TestMode" value="1"/>       
    <add key="TestFiles" value="C:\TestFiles\TestFiles\"/>
    <!--  <add key="AppNum" value ="93"/> --> 
    <add key="SytelineURLTest" value="http://sl_util2_clone/IDORequestService/RequestService.aspx"/>
    <add key="SytelineUserTest" value="sa"/>
    <add key="SytelinePwdTest" value="sapassword"/>
      

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
